<html>

<head>
	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}
		
		ng\:form {
			display: block;
		}
		
		.ng-animate-shim {
			visibility: hidden;
		}
		
		.ng-anchor {
			position: absolute;
		}
	</style>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src="./lib/angular.min.js"></script>
	<script src="calc.js"></script>
</head>

<body ng-app="calculatorApp">
	<div class="container" ng-controller="CalcController">
		<div class="buttons">
			<div class="left">
				<span class="stack">{{stack}}</span>
				<span class="stack">{{result}}</span>
				<table>
					<tr>
						<td colspan="4"><input class="res" type="number" value="{{inputval}}" /></td>
					</tr>
					<tr ng-repeat="n in numkeys">
						<td ng-repeat="i in n">
							<input class="btn" type="button" value="{{i}}" ng-click="custClick(i)" />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<table>
			<tr></tr>
		</table>
	</div>
</body>

</html>